# PORT=5000
# MONGO_URI=mongodb+srv://aseelnour38_db_user:aseel7@cluster0.rf6q3qp.mongodb.net/mymarket?appName=Cluster0
# JWT_SECRET=market_super_secret_key_2026
# JWT_EXPIRES_IN=7d

PORT=5000
MONGO_URI=mongodb+srv://aseelnour38_db_user:aseel7@cluster0.rf6q3qp.mongodb.net/mymarket?appName=Cluster0&retryWrites=true&w=majority
JWT_SECRET=market_super_secret_key_2026
JWT_EXPIRES_IN=7d
NODE_ENV=development
